/* initial settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: open-sans-r;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: open-sans-b;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 400;
  font-style: bold;
}

.page {
  font-family: open-sans-r, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  display: block;
  flex-direction: column;
  align-items: center;
}

/* header group */

.header {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  background-color: #000000;
  position: relative;
  z-index: 0;
  min-width: 1200px;
  min-height: 449px;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  background-size: 100%;
  opacity: 0.6;
  z-index: -1;
}

.header-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 26px 15px 126px 15px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  display: block;
}

.menu-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

.menu-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
}

.title {
  max-width: 689px;
  margin-left: auto;
  margin-right: auto;
}

.title-text {
  font-family: open-sans-b, sans-serif;
  font-size: 45px;
  line-height: calc(75 / 45);
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

/* main group */

.content-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 15px 0;
  display: flex;
  justify-content: space-between;
}

.main {
  width: 780px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.news-img {
  display: block;
}

.news {
  display: flex;
  gap: 30px;
}

.news-text {
  width: 399px;
}

.news-tag {
  list-style: none;
  margin-top: -3px;
  margin-bottom: 10px;
  display: flex;
  gap: 20px;
}

.news-tag-link {
  text-decoration: none;
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  color: #b59f5b;
  font-size: 14px;
}

.news-link {
  text-decoration: none;
  color: #0f0d0e;
}

.news-name {
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 30px;
}

.news-text-meta {
  display: flex;
  gap: 10px;
  margin-bottom: 45px;
}

.date {
  color: #888888;
  font-size: 12px;
}

.author {
  font-family: open-sans-b, sans-serif;
  color: #000000;
  font-size: 12px;
}

.about > p {
  font-size: 15px;
  line-height: 1.5;
}

.about > p:not(:first-child) {
  margin-top: 10px;
}

/* aside group */

.aside {
  width: 270px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.new-posts {
  display: flex;
  flex-direction: column;
}

.top {
  text-align: center;
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  line-height: 1;
}

.top::after {
  content: "";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 66px;
  height: 3px;
  background: #b59f5b;
}

.new-post-item {
  display: flex;
  flex-direction: column;
  margin-top: 29px;
  gap: 22px;
}

.new {
  display: flex;
}

.new-img {
  display: block;
}

.new-text {
  margin-top: -3px;
  margin-left: 20px;
}

.new-link {
  text-decoration: none;
  color: #000000;
}

.new-text .date {
  font-size: 12px;
  text-decoration: none;
  color: #000000;
  opacity: 0.54;
  line-height: 0.8;
}

.new-name {
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.3;
}

/* search group */

.search {
  margin-top: 60px;
  display: flex;
  width: 100%;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.search-field {
  padding: 0 18px;
  width: 222px;
  height: 47px;
  font-size: 13px;
  border: none;
  background-color: #f4f7f6;
}

.search-button {
  border: none;
  width: 47px;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  background-color: #b59f5b;
}

/* subscribe group */

.mailing-field {
  padding: 0 18px;
  margin-top: 23px;
  width: 100%;
  height: 48px;
  font-size: 13px;
  border: none;
  background-color: #f4f7f6;
}

.mailing-button {
  margin-top: 18px;
  height: 48px;
  border: none;
  width: 100%;
  background-color: #b59f5b;
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
}

/* tags group */

.list-tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-items: space-between;
  margin-top: 25px;
  gap: 6px 6px;
}

.list-tags-link {
  display: block;
  align-items: center;
  align-content: space-between;
  text-decoration: none;
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  color: #0f0d0e;
  font-size: 12px;
  border: 3px solid #f4f3f1;
  padding: 5px 12px;
}

.list-theme {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-top: 25px;
}

.list-theme-item {
  display: block;
}

.list-theme-link {
  align-items: center;
  align-content: space-between;
  text-decoration: none;
  font-family: open-sans-b, sans-serif;
  color: #000000;
  font-size: 14px;
  padding-right: 5px;
}

.list-theme-item::after {
  content: "";
  display: block;
  position: relative;
  margin-top: 13px;
  width: 100%;
  height: 1px;
  background: #eeeeee;
}

.list-theme-count {
  display: inline-block;
  vertical-align: top;
  color: #b59f5b;
  font-family: open-sans-b, sans-serif;
  font-size: 12px;
}

/* footer group */

.footer {
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 74px;
}

.footer-address {
  background-color: #f4f7f6;
}

.footer-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icon {
  display: block;
  box-sizing: content-box;
  width: 25px;
  height: 21px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 31px 0;
}

.social-icon_twitter {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg);
}

.social-icon_pinterest {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg);
}

.social-icon_facebook {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg);
}

.social-icon_instagram {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg);
}

.social-icon_tumblr {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
}

.copyright {
  display: block;
  margin-bottom: 30px;
  text-decoration: none;
  color: #999999;
  font-family: open-sans-b, sans-serif;
  font-size: 12px;
  text-align: center;
}